html{
    background: #323232;
    color: white;
}

.container{
    align-content: center;
    text-align: center;
}

.anuncio{
    float: left;
    position: relative;
    content: url("../rsc/anuncio.png");
    width: 25vmin;
    height: 79vmin;
    margin-top: 10vmin;
    margin-left: 10vmin;
}

.anuncio:hover{
    cursor: pointer;
}

.anuncio2 {
    float: right;
    position: relative;
    content: url("../rsc/anuncio.png");
    width: 25vmin;
    height: 79vmin;
    margin-top: 10vmin;
    margin-right: 10vmin;
}

.anuncio2:hover{
    cursor: pointer;
}

.pasatiempo{
    display: inline-block;
    margin: 10vmin auto 0;
    width: 90vmin;
}

table{
    margin:0 auto;
}

p{
    margin-top: 8vmin;
    font-size: 25px;
}

.btn{
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
    padding: 20px 60px; /*ratio 3*/
    background-color: #de001b;
    color: #fff;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
    overflow: hidden;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    left: var(--x);
    right: var(--y);
    transform: translate(-50%, -50%);
    background-image: radial-gradient(circle closest-side, #850114, transparent);
    width: 0; height: 0;
    transition: width 0.3s ease, height 0.3s ease;
    z-index: -1;
}

.btn:hover::before{width: 250px; height: 250px;}